---
// Import Layout
import Layout from '~/layouts/PageLayout.astro';

// Import Components
import Hero from '~/components/widgets/Hero.astro';
import AiServicesPanel from '~/components/widgets/Content.astro';
import StandardServices from '~/components/widgets/Features2.astro';
import DevProcess from '~/components/widgets/Steps.astro';
import ClientSuccess from '~/components/widgets/Features.astro';
import ClientStats from '~/components/widgets/Stats.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Contact from '~/components/widgets/ContactUs.astro';
import Locations from '~/components/widgets/Features2.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

// Import Utils & Associated Types
import { getPermalink } from '../utils/permalinks';
import { contentfulClient } from "../lib/contentful/contentful";
import type { LandingImage, LandingPage } from '../lib/contentful/contentful';
// TODO: // import { documentToHtmlString } from "@contentful/rich-text-html-renderer"; 

// Fetch images from Contentful
const images = await contentfulClient.getEntries<LandingImage>({
  content_type: "image",
});
const AiSummarizerAgent = images.items[0];
const AiVoiceAgent = images.items[1];
const AiAgentSwarm = images.items[2];
const DevelopmentProcess = images.items[3];

// Fetch page content from Contentful
const landingPageContent = await contentfulClient.getEntries<LandingPage>({
  content_type: "landingPage",
  include: 2,
});
const metadataContent = landingPageContent.items[0].fields.metadata;
const heroContent = landingPageContent.items[0].fields.hero;
const servicesContent = landingPageContent.items[0].fields.services;
const featuresContent = landingPageContent.items[0].fields.features;
const faqContent = landingPageContent.items[0].fields.faq;
const contactUsContent = landingPageContent.items[0].fields.contactUs;
const blogContent = landingPageContent.items[0].fields.blog;

// Declare Page Metadata
const metadata = {
  title: `${metadataContent['fields']['pageTitle']}`,
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <!-- Hero Widget ******************* -->
   
  <Hero
  id="welcome"
    title=`${heroContent['fields']['titleBlock']['fields']['title']}`
    subtitle=`${heroContent['fields']['titleBlock']['fields']['subtitle']}`
    actions={[
      { variant: 'primary', text: `${heroContent['fields']['cards'][0]['fields']['title']}`, href: getPermalink(`${heroContent['fields']['cards'][0]['fields']['description']}`), icon: `${heroContent['fields']['cards'][0]['fields']['icon']}` },
      { text: `${heroContent['fields']['cards'][1]['fields']['title']}`, href: getPermalink(`${heroContent['fields']['cards'][1]['fields']['description']}`) },
    ]}
  />

  <!-- AiServicesPanel Widget 1/3 **************** -->

  <AiServicesPanel
    id='services'
    isReversed
    tagline={`${servicesContent[0]['fields']['sectionHeader']['fields']['tagline']}`}
    title={`${servicesContent[0]['fields']['sectionHeader']['fields']['title']}`}
    items={[...servicesContent[0]['fields']['cards']].map(card => card['fields'])}
    image={{
      src: 'https:' + AiSummarizerAgent.fields.file['fields']['file']['url'],
      alt: AiSummarizerAgent.fields.alt,
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        {`${servicesContent[0]['fields']['titleBlock']['fields']['title']}`}
      </h3>
      {`${servicesContent[0]['fields']['titleBlock']['fields']['subtitle']}`}
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </AiServicesPanel>

  <!-- AiServicesPanel Widget 2/3 **************** -->

  <AiServicesPanel
    isAfterContent
    items={[...servicesContent[1]['fields']['cards']].map(card => card['fields'])}
    image={{
      src: 'https:' + AiVoiceAgent.fields.file['fields']['file']['url'],
      alt: AiVoiceAgent.fields.alt,
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        {`${servicesContent[1]['fields']['titleBlock']['fields']['title']}`}
      </h3>
      {`${servicesContent[1]['fields']['titleBlock']['fields']['subtitle']}`}
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </AiServicesPanel>

  <!-- AiServicesPanel Widget 3/3 **************** -->

  <AiServicesPanel
    isReversed
    isAfterContent
    items={[...servicesContent[2]['fields']['cards']].map(card => card['fields'])}
    image={{
      src: 'https:' + AiAgentSwarm.fields.file['fields']['file']['url'],
      alt: AiAgentSwarm.fields.alt,
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        {`${servicesContent[2]['fields']['titleBlock']['fields']['title']}`}
      </h3>
      {`${servicesContent[2]['fields']['titleBlock']['fields']['subtitle']}`}
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </AiServicesPanel>

  <!-- Standard Offerings Widget *************** -->

  <StandardServices
    title={`${servicesContent[3]['fields']['titleBlock']['fields']['title']}`}
    subtitle={`${servicesContent[3]['fields']['titleBlock']['fields']['subtitle']}`}
    items={[...servicesContent[3]['fields']['cards']].map(card => card['fields'])}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</StandardServices>

  <!-- Development Process Widget *************** -->

  <DevProcess
  id="features"
  tagline={`${featuresContent[0]['fields']['titleBlock']['fields']['tagline']}`}
  title={`${featuresContent[0]['fields']['titleBlock']['fields']['title']}`}
  subtitle={`${featuresContent[0]['fields']['titleBlock']['fields']['subtitle']}`}
  items={[...featuresContent[0]['fields']['cards']].map(card => card['fields'])}
  image={{
    src: 'https:' + DevelopmentProcess.fields.file['fields']['file']['url'],
    alt: DevelopmentProcess.fields.alt,
  }}
/>

  <!-- Client Success Widget *************** -->

  <ClientSuccess
  title={`${featuresContent[1]['fields']['titleBlock']['fields']['title']}`}
  subtitle={`${featuresContent[1]['fields']['titleBlock']['fields']['subtitle']}`}
    columns={2}
    items={[...featuresContent[1]['fields']['cards']].map(card => card['fields'])}
  />
  
  <!-- Client Stats Widget *************** -->

  <ClientStats stats={[...featuresContent[2]['fields']['cards']].map(card => card['fields'])} />

  <!-- FAQs Widget ******************* -->

  <FAQs
    id="faq"
    title={`${faqContent['fields']['titleBlock']['fields']['title']}`}
    items={[...faqContent['fields']['cards']].map(card => card['fields'])}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Contact Widget ****************** -->

  <Contact
    id="contact"
    tagline={`${contactUsContent[0]['fields']['titleBlock']['fields']['tagline']}`}
    title={`${contactUsContent[0]['fields']['titleBlock']['fields']['title']}`}
    subtitle={`${contactUsContent[0]['fields']['titleBlock']['fields']['subtitle']}`}
    items={[...contactUsContent[0]['fields']['cards']].slice(1).map(card => card['fields'])}
    form={{
      title: 'Drop us a message',
      inputs: [
        {
          type: 'text',
          name: 'name',
          label: 'Name',
          placeholder: 'John Smith',
        },
        {
          type: 'email',
          name: 'email',
          label: 'Email',
          placeholder: 'john.smith@example.com',
        },
        {
          type: 'text',
          name: 'company',
          label: 'Company',
          placeholder: 'Red Mountain Metal Works',
        },
        {
          type: 'text',
          name: 'location',
          label: 'Location',
          placeholder: 'Aspen, CO',
        },
      ],
      textarea: {
        label: 'Message',
        placeholder: 'Hello,\n\nI\'d like to inquire about using an AI voice agent to answer the phone at my shop...',
      },
      disclaimer: {
        label:
          'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
      },
      description: 'Our support team typically responds within 24 business hours.',
    }}
  />

  <!-- Locations Widget ************** -->

  <Locations
    id="locations"
    title={`${contactUsContent[1]['fields']['titleBlock']['fields']['title']}`}
    items={[...contactUsContent[1]['fields']['cards']].map(card => card['fields'])}
    columns={4}
  />

  <!-- Use Cases Blog Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title={`${blogContent['fields']['titleBlock']['fields']['title']}`}
    information={`${blogContent['fields']['titleBlock']['fields']['subtitle']}`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
