---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import AiServicesPanel from '~/components/widgets/Content.astro';
import StandardServices from '~/components/widgets/Features2.astro';
import DevProcess from '~/components/widgets/Steps.astro';
import ClientSuccess from '~/components/widgets/Features.astro';
import ClientStats from '~/components/widgets/Stats.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Contact from '~/components/widgets/Steps2.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

import { getPermalink } from '../utils/permalinks';
import { fetchRecords } from '../integrations/astro-airtable/astro-airtable';

// Fetch records from Airtable
const pageContent = await fetchRecords('tblZ51CnMzxuJf5mN');

const metadata = {
  title: `${pageContent[0].title}`,
  ignoreTitleTemplate: true,
};

// Fetch records from Contentful
import { contentfulClient } from "../lib/contentful";
// TODO: // import { documentToHtmlString } from "@contentful/rich-text-html-renderer"; 
import type { LandingImage, LandingPage } from '../lib/contentful';

const images = await contentfulClient.getEntries<LandingImage>({
  content_type: "image",
  include: 10, // TODO: probably should be less than 10
});
const AiSummarizerAgent = images.items[0];
const AiVoiceAgent = images.items[1];
const AiAgentSwarm = images.items[2];
const DevelopmentProcess = images.items[3];

const landingPageContent = await contentfulClient.getEntries<LandingPage>({
  content_type: "landingPage",
  include: 10, // TODO: probably should be less than 10
});
const heroContent = landingPageContent.items[0].fields.hero;
const servicesContent = landingPageContent.items[0].fields.services;
const featuresContent = landingPageContent.items[0].fields.features;
const faqContent = landingPageContent.items[0].fields.faq;
const contactContent = landingPageContent.items[0].fields.contact;
const blogContent = landingPageContent.items[0].fields.blog;
---

<Layout metadata={metadata}>
  
  <!-- Hero Widget ******************* -->
   
  <Hero
  id="welcome"
    title=`${heroContent['fields']['titleBlock']['fields']['title']}`
    subtitle=`${heroContent['fields']['titleBlock']['fields']['subtitle']}`
    actions={[
      { variant: 'primary', text: `${heroContent['fields']['cards'][0]['fields']['title']}`, href: getPermalink(`${heroContent['fields']['cards'][0]['fields']['description']}`), icon: `${heroContent['fields']['cards'][0]['fields']['icon']}` },
      { text: `${heroContent['fields']['cards'][1]['fields']['title']}`, href: getPermalink(`${heroContent['fields']['cards'][1]['fields']['description']}`) },
    ]}
  />

  <!-- AiServicesPanel Widget 1/3 **************** -->

  <AiServicesPanel
    id='services'
    isReversed
    tagline={`${servicesContent[0]['fields']['sectionHeader']['fields']['tagline']}`}
    title={`${servicesContent[0]['fields']['sectionHeader']['fields']['title']}`}
    items={[...servicesContent[0]['fields']['cards']].map(card => card['fields'])}
    image={{
      src: AiSummarizerAgent.fields.file['fields']['file']['url'],
      alt: AiSummarizerAgent.fields.alt,
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        {`${servicesContent[0]['fields']['titleBlock']['fields']['title']}`}
      </h3>
      {`${servicesContent[0]['fields']['titleBlock']['fields']['subtitle']}`}
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </AiServicesPanel>

  <!-- AiServicesPanel Widget 2/3 **************** -->

  <AiServicesPanel
    isAfterContent
    items={[...servicesContent[1]['fields']['cards']].map(card => card['fields'])}
    image={{
      src: AiVoiceAgent.fields.file['fields']['file']['url'],
      alt: AiVoiceAgent.fields.alt,
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        {`${servicesContent[1]['fields']['titleBlock']['fields']['title']}`}
      </h3>
      {`${servicesContent[1]['fields']['titleBlock']['fields']['subtitle']}`}
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </AiServicesPanel>

  <!-- AiServicesPanel Widget 3/3 **************** -->

  <AiServicesPanel
    isReversed
    isAfterContent
    items={[...servicesContent[2]['fields']['cards']].map(card => card['fields'])}
    image={{
      src: AiAgentSwarm.fields.file['fields']['file']['url'],
      alt: AiAgentSwarm.fields.alt,
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        {`${servicesContent[2]['fields']['titleBlock']['fields']['title']}`}
      </h3>
      {`${servicesContent[2]['fields']['titleBlock']['fields']['subtitle']}`}
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </AiServicesPanel>

  <!-- Standard Offerings Widget *************** -->

  <StandardServices
    title={`${servicesContent[3]['fields']['titleBlock']['fields']['title']}`}
    subtitle={`${servicesContent[3]['fields']['titleBlock']['fields']['subtitle']}`}
    items={[...servicesContent[3]['fields']['cards']].map(card => card['fields'])}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</StandardServices>

  <!-- Development Process Widget *************** -->

  <DevProcess
  id="features"
  tagline={`${featuresContent[0]['fields']['titleBlock']['fields']['tagline']}`}
  title={`${featuresContent[0]['fields']['titleBlock']['fields']['title']}`}
  subtitle={`${featuresContent[0]['fields']['titleBlock']['fields']['subtitle']}`}
  items={[...featuresContent[0]['fields']['cards']].map(card => card['fields'])}
  image={{
    src: DevelopmentProcess.fields.file['fields']['file']['url'],
    alt: DevelopmentProcess.fields.alt,
  }}
/>

  <!-- Client Success Widget *************** -->

  <ClientSuccess
  title={`${featuresContent[1]['fields']['titleBlock']['fields']['title']}`}
  subtitle={`${featuresContent[1]['fields']['titleBlock']['fields']['subtitle']}`}
    columns={2}
    items={[...featuresContent[1]['fields']['cards']].map(card => card['fields'])}
  />
  
  <!-- Client Stats Widget *************** -->

  <ClientStats stats={[...featuresContent[2]['fields']['cards']].map(card => card['fields'])} />

  <!-- FAQs Widget ******************* -->

  <FAQs
    id="faq"
    title={`${faqContent['fields']['titleBlock']['fields']['title']}`}
    items={[...faqContent['fields']['cards']].map(card => card['fields'])}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Contact Widget ****************** -->

  <Contact
    id="contact"
    title={`${contactContent['fields']['titleBlock']['fields']['title']}`}
    subtitle={`${contactContent['fields']['titleBlock']['fields']['subtitle']}`}
    callToAction={{
      text: `${contactContent['fields']['cards'][0]['fields']['title']}`,
      // TODO; create contact form
      href: `${contactContent['fields']['cards'][0]['fields']['description']}`,
    }}
    items={[...contactContent['fields']['cards']].slice(1).map(card => card['fields'])}
  />

  <!-- Use Cases Blog Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title={`${blogContent['fields']['titleBlock']['fields']['title']}`}
    information={`${blogContent['fields']['titleBlock']['fields']['subtitle']}`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
