---
// import Image from '~/components/common/Image.astro';
// TODO: check this against best practices
import { Image } from 'astro:assets';
import logo from '../assets/images/logo.png';
import { SITE } from 'astrowind:config';
---

<span
  class="flex self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src={logo} alt="Scale Force Logo" width={40} />
    {SITE?.name}
</span>
